

        <section class="hero">
            <div class="container">
                <div class="custom--container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="hero__text-content">
                                <span>Custom quotes and best price</span>
                                <h1>
                                    Get the Cheapest coverage and the Best
                                    service
                                </h1>
                                <p>
                                    Our business module is completely web and
                                    phone based. This module make it more
                                    convenient to our customers and help the
                                    environment by reducing our
                                    carbon-footprint.
                                </p>
                                <div class="call-to-action__wrap">
                                    <button class="call custom-btn">
                                        Call Us
                                    </button>
                                    <button class="read btn">Read Blog</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 hero__quote__wrapper">
                            <form action="">
                                <h5>Fill a short for am get a quote</h5>
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Zip Code"
                                    />
                                </div>
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="How many Vehicles you want to Insure?"
                                    />
                                </div>
                                <div class="text-center mt-5">
                                    <button class="custom-btn">
                                        Get a Quote
                                    </button>
                                </div>
                            </form>
                            <div class="hero__quote__wrapper__bg">
                                <img
                                    src="/images/background/contactbg.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__bg">
                <img src="/images/background/herobg.png" alt="" />
            </div>
        </section>

        <section class="companies">
            <div class="container">
                <div class="custom--container">
                    <div class="companies__wrapper">
                        <img src="/images/c1.png" alt="" />
                        <img src="/images/c2.png" alt="" />
                        <img src="/images/c3.png" alt="" />
                        <img src="/images/c4.png" alt="" />
                        <img src="/images/c5.png" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <section class="key-features">
            <div class="container">
                <div class="custom--container">
                    <div class="section--title">
                        <h1>Key Features</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="key-features__card h-100">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_208"
                                        data-name="Group 208"
                                        transform="translate(-360 -1517)"
                                    >
                                        <rect
                                            id="Rectangle_23"
                                            data-name="Rectangle 23"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(360 1517)"
                                            fill="#abd7f8"
                                            opacity="0.6"
                                        />
                                        <path
                                            id="Icon_material-access-time"
                                            data-name="Icon material-access-time"
                                            d="M23.963,3A20.984,20.984,0,1,0,44.969,23.984,20.974,20.974,0,0,0,23.963,3Zm.021,37.772A16.787,16.787,0,1,1,40.772,23.984,16.783,16.783,0,0,1,23.984,40.772Zm1.049-27.28H21.886V26.083L32.9,32.693l1.574-2.581-9.443-5.6Z"
                                            transform="translate(378 1532)"
                                            fill="#008eff"
                                        />
                                    </g>
                                </svg>
                                <h3>Since 2016</h3>
                                <p>
                                    We have been providing service in GA area
                                    since 2016.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="key-features__card h-100">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_209"
                                        data-name="Group 209"
                                        transform="translate(-732 -1517)"
                                    >
                                        <rect
                                            id="Rectangle_24"
                                            data-name="Rectangle 24"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(732 1517)"
                                            fill="#f89191"
                                            opacity="0.6"
                                        />
                                        <path
                                            id="Icon_awesome-coins"
                                            data-name="Icon awesome-coins"
                                            d="M0,28.5v3C0,33.982,6.047,36,13.5,36S27,33.982,27,31.5v-3c-2.9,2.046-8.212,3-13.5,3S2.9,30.544,0,28.5ZM22.5,9C29.953,9,36,6.982,36,4.5S29.953,0,22.5,0,9,2.018,9,4.5,15.047,9,22.5,9ZM0,21.122V24.75c0,2.482,6.047,4.5,13.5,4.5S27,27.232,27,24.75V21.122c-2.9,2.391-8.22,3.628-13.5,3.628S2.9,23.513,0,21.122Zm29.25.773C33.279,21.115,36,19.666,36,18V15a17.267,17.267,0,0,1-6.75,2.426ZM13.5,11.25C6.047,11.25,0,13.767,0,16.875S6.047,22.5,13.5,22.5,27,19.983,27,16.875,20.953,11.25,13.5,11.25Zm15.42,3.959c4.219-.759,7.08-2.25,7.08-3.959v-3c-2.5,1.765-6.785,2.714-11.3,2.939A7.874,7.874,0,0,1,28.92,15.209Z"
                                            transform="translate(756 1537.5)"
                                            fill="#ff2121"
                                        />
                                    </g>
                                </svg>

                                <h3>Affordable</h3>
                                <p>
                                    Get the cheapest and most affordable car
                                    insurance.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="key-features__card h-100">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_210"
                                        data-name="Group 210"
                                        transform="translate(-1096 -1514)"
                                    >
                                        <rect
                                            id="Rectangle_25"
                                            data-name="Rectangle 25"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(1096 1514)"
                                            fill="#ffc1aa"
                                            opacity="0.6"
                                        />
                                        <path
                                            id="Icon_ionic-md-phone-portrait"
                                            data-name="Icon ionic-md-phone-portrait"
                                            d="M30.138,2.25H11.586A3.7,3.7,0,0,0,7.875,5.923V38.981a3.7,3.7,0,0,0,3.711,3.673H30.138a3.7,3.7,0,0,0,3.711-3.673V5.923A3.7,3.7,0,0,0,30.138,2.25ZM30.6,35.439H11.122V9.465H30.6Z"
                                            transform="translate(1116.688 1530.048)"
                                            fill="#ff4600"
                                        />
                                    </g>
                                </svg>

                                <h3>Web/Phone</h3>
                                <p>
                                    Our service is phone and web based reducing
                                    travel time.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="key-features__card h-100">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_211"
                                        data-name="Group 211"
                                        transform="translate(-1478 -1517)"
                                    >
                                        <rect
                                            id="Rectangle_26"
                                            data-name="Rectangle 26"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(1478 1517)"
                                            fill="#ffe5c4"
                                            opacity="0.6"
                                        />
                                        <path
                                            id="Icon_metro-earth"
                                            data-name="Icon metro-earth"
                                            d="M17.995,1.928A15.424,15.424,0,1,0,33.419,17.352,15.424,15.424,0,0,0,17.995,1.928Zm0,28.921a13.451,13.451,0,0,1-5.339-1.1l7.024-7.9a.964.964,0,0,0,.243-.64V18.316a.964.964,0,0,0-.964-.964c-3.4,0-7-3.539-7.031-3.574a.964.964,0,0,0-.682-.282H7.391a.964.964,0,0,0-.964.964v5.784a.964.964,0,0,0,.533.862l3.323,1.662v5.66A13.5,13.5,0,0,1,5.8,11.568H9.319A.964.964,0,0,0,10,11.286L13.857,7.43a.964.964,0,0,0,.282-.682V4.416a13.534,13.534,0,0,1,9.769.8c-.125.105-.246.216-.363.332a5.785,5.785,0,0,0,4.086,9.875q.143,0,.287-.007a22.638,22.638,0,0,1-.253,11.217.961.961,0,0,0-.025.157,13.454,13.454,0,0,1-9.644,4.057Z"
                                            transform="translate(1501.914 1538.148)"
                                            fill="#ff8e00"
                                        />
                                    </g>
                                </svg>

                                <h3>Since 2016</h3>
                                <p>
                                    We have been providing service in GA area
                                    since 2016.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-us-card__wrapper">
            <div class="container">
                <div class="custom--container">
                    <div class="section--title">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="contact-us__card h-100">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_212"
                                        data-name="Group 212"
                                        transform="translate(-555 -2224)"
                                    >
                                        <rect
                                            id="Rectangle_107"
                                            data-name="Rectangle 107"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(555 2224)"
                                            fill="#74bcf3"
                                            opacity="0.6"
                                        />
                                        <path
                                            id="Icon_ionic-md-call"
                                            data-name="Icon ionic-md-call"
                                            d="M37.559,28.808a22.824,22.824,0,0,1-6.9-1.069,1.819,1.819,0,0,0-1.945.486L24.433,32.5A29.244,29.244,0,0,1,11.6,19.668l4.279-4.278a2.026,2.026,0,0,0,.486-1.945,21.149,21.149,0,0,1-1.167-7A1.951,1.951,0,0,0,13.251,4.5H6.445A1.951,1.951,0,0,0,4.5,6.445,33.032,33.032,0,0,0,37.559,39.5,1.951,1.951,0,0,0,39.5,37.56V30.753A1.951,1.951,0,0,0,37.559,28.808Z"
                                            transform="translate(574.598 2240.498)"
                                            fill="#0691fe"
                                        />
                                    </g>
                                </svg>
                                <br />
                                <span>
                                    Call us for the Cheapest Insurance
                                </span>
                                <h1>(404) 528-1327</h1>
                                <button class="custom-btn">Call us</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="contact-us__card h-100 location">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="84"
                                    height="77"
                                    viewBox="0 0 84 77"
                                >
                                    <g
                                        id="Group_179"
                                        data-name="Group 179"
                                        transform="translate(-1305 -1134)"
                                    >
                                        <rect
                                            id="Rectangle_107"
                                            data-name="Rectangle 107"
                                            width="84"
                                            height="77"
                                            rx="10"
                                            transform="translate(1305 1134)"
                                            fill="#1d57a7"
                                            opacity="0.44"
                                        />
                                        <path
                                            id="Icon_metro-location"
                                            data-name="Icon metro-location"
                                            d="M22.537,1.928A14.183,14.183,0,0,0,8.355,16.111c0,14.183,14.183,31.2,14.183,31.2S36.72,30.293,36.72,16.111A14.183,14.183,0,0,0,22.537,1.928Zm0,22.869a8.687,8.687,0,1,1,8.687-8.687A8.687,8.687,0,0,1,22.537,24.8Zm-5.5-8.687a5.5,5.5,0,1,1,5.5,5.5A5.5,5.5,0,0,1,17.042,16.111Z"
                                            transform="translate(1324.431 1147.88)"
                                            fill="#1d57a7"
                                        />
                                    </g>
                                </svg>
                                <br />
                                <span>
                                    Call us for the Cheapest Insurance
                                </span>
                                <h1>
                                    1755 The Exchange Se # 139 Atlanta, GA 30339
                                </h1>
                                <button class="custom-btn">Direction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="get-in-touch">
            <div class="container">
                <div class="custom--container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <form action="">
                                <h1>Get in touch</h1>
                                <p>Send us a message and we will call you.</p>
                                <div class="row">
                                    <div class="col form-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="First name"
                                        />
                                    </div>
                                    <div class="col form-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Last name"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="inputEmail4"
                                    />
                                </div>
                                <div class="form-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="inputEmail4"
                                    />
                                </div>
                                <div class="form-group">
                                    <textarea
                                        class="form-control"
                                        id="exampleFormControlTextarea1"
                                        rows="3"
                                    ></textarea>
                                </div>
                                <button class="custom-btn mt-4">
                                    Contact Us
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="get-in-touch__img">
                                <img src="/images/contactus.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get-in-touch__bg">
                <img src="/images/background/getintouch.png" alt="" />
            </div>
        </section>

        <section class="blog">
            <div class="container">
                <div class="section--title">
                    <h1>Blog</h1>
                    <p>Take a look at our blog</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="blog__card">
                            <div class="blog__card-img">
                                <img src="/images/b1.png" alt="" />
                            </div>
                            <div class="blog__card-text">
                                <div class="date">
                                    <span>8 November</span>
                                </div>
                                <div class="title">
                                    <h3>The New Mustang is a must buy.</h3>
                                </div>
                                <a href=""
                                    >Read More
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="23.637"
                                        height="21.005"
                                        viewBox="0 0 23.637 21.005"
                                    >
                                        <g
                                            id="Icon_feather-arrow-right"
                                            data-name="Icon feather-arrow-right"
                                            transform="translate(1.5 2.116)"
                                        >
                                            <path
                                                id="Path_14"
                                                data-name="Path 14"
                                                d="M7.5,18H28.137"
                                                transform="translate(-7.5 -9.613)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                            <path
                                                id="Path_15"
                                                data-name="Path 15"
                                                d="M18,7.5l9.691,8.387L18,24.273"
                                                transform="translate(-7.054 -7.5)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="blog__card">
                            <div class="blog__card-img">
                                <img src="/images/b2.png" alt="" />
                            </div>
                            <div class="blog__card-text">
                                <div class="date">
                                    <span>8 November</span>
                                </div>
                                <div class="title">
                                    <h3>The New Mustang is a must buy.</h3>
                                </div>
                                <a href=""
                                    >Read More
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="23.637"
                                        height="21.005"
                                        viewBox="0 0 23.637 21.005"
                                    >
                                        <g
                                            id="Icon_feather-arrow-right"
                                            data-name="Icon feather-arrow-right"
                                            transform="translate(1.5 2.116)"
                                        >
                                            <path
                                                id="Path_14"
                                                data-name="Path 14"
                                                d="M7.5,18H28.137"
                                                transform="translate(-7.5 -9.613)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                            <path
                                                id="Path_15"
                                                data-name="Path 15"
                                                d="M18,7.5l9.691,8.387L18,24.273"
                                                transform="translate(-7.054 -7.5)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="blog__card">
                            <div class="blog__card-img">
                                <img src="/images/b3.png" alt="" />
                            </div>
                            <div class="blog__card-text">
                                <div class="date">
                                    <span>8 November</span>
                                </div>
                                <div class="title">
                                    <h3>The New Mustang is a must buy.</h3>
                                </div>
                                <a href=""
                                    >Read More
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="23.637"
                                        height="21.005"
                                        viewBox="0 0 23.637 21.005"
                                    >
                                        <g
                                            id="Icon_feather-arrow-right"
                                            data-name="Icon feather-arrow-right"
                                            transform="translate(1.5 2.116)"
                                        >
                                            <path
                                                id="Path_14"
                                                data-name="Path 14"
                                                d="M7.5,18H28.137"
                                                transform="translate(-7.5 -9.613)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                            <path
                                                id="Path_15"
                                                data-name="Path 15"
                                                d="M18,7.5l9.691,8.387L18,24.273"
                                                transform="translate(-7.054 -7.5)"
                                                fill="none"
                                                stroke="#1d57a7"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="3"
                                            />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container">
                <div class="section--title">
                    <h1>Testimonilas</h1>
                    <p>What are people saying?</p>
                </div>
                <div class="testimonials__wrapper">
                    <div class="testimonials__card">
                        <p>
                            They got me cheap car insurances with no down
                            payment .. I will be using them every year my
                            Insurance is renew for lease .
                        </p>
                        <div class="stars">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="121.183"
                                height="16.332"
                                viewBox="0 0 121.183 16.332"
                            >
                                <g
                                    id="Group_183"
                                    data-name="Group 183"
                                    transform="translate(-182 -5294.315)"
                                >
                                    <path
                                        id="Icon_ionic-md-star"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(178.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-2"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(204.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-3"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(230.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-4"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(256.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-5"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(282.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                </g>
                            </svg>
                        </div>
                        <div class="name">
                            <h3>Jean Perry</h3>
                        </div>
                    </div>
                    <div class="testimonials__card">
                        <p>
                            Excellent rates and offers. Great overall experience
                            getting my car insured with them. Look forward to
                            doing more business with them in the future again.
                            They speak spanish too! Thank you E Auto Coverage!
                        </p>
                        <div class="stars">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="121.183"
                                height="16.332"
                                viewBox="0 0 121.183 16.332"
                            >
                                <g
                                    id="Group_183"
                                    data-name="Group 183"
                                    transform="translate(-182 -5294.315)"
                                >
                                    <path
                                        id="Icon_ionic-md-star"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(178.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-2"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(204.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-3"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(230.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-4"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(256.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-5"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(282.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                </g>
                            </svg>
                        </div>
                        <div class="name">
                            <h3>Sophia Hernandez</h3>
                        </div>
                    </div>
                    <div class="testimonials__card">
                        <p>
                            This agency is by far the best experience I've had
                            in some time. Luis, the Agent, was so patient in his
                            explanation of what I qualified for and offered me a
                            policy that was affordable and reliable. I would
                            recommend this insurance company to my family and
                            friends
                        </p>
                        <div class="stars">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="121.183"
                                height="16.332"
                                viewBox="0 0 121.183 16.332"
                            >
                                <g
                                    id="Group_183"
                                    data-name="Group 183"
                                    transform="translate(-182 -5294.315)"
                                >
                                    <path
                                        id="Icon_ionic-md-star"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(178.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-2"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(204.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-3"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(230.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-4"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(256.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                    <path
                                        id="Icon_ionic-md-star-5"
                                        data-name="Icon ionic-md-star"
                                        d="M12.388,17.629l5.309,3.2-1.4-6.042,4.687-4.063L14.8,10.2,12.388,4.5,9.975,10.2,3.8,10.727,8.483,14.79l-1.4,6.042Z"
                                        transform="translate(282.203 5289.815)"
                                        fill="#f1ca30"
                                    />
                                </g>
                            </svg>
                        </div>
                        <div class="name">
                            <h3>Da Goat Dab</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials__bg">
                <img src="/images/background/testimonials.png" alt="" />
            </div>
        </section>

        <section class="google-map">
            <div class="container">
                <div class="section--title">
                    <h1>Google Map</h1>
                    <p>Get direction to come meet up</p>
                </div>
                <div class="google-map__wrapper">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.215010127137!2d-84.48663008547754!3d33.9098654326685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f51108dc2f6741%3A0x18a2687b863fd81a!2s1755%20The%20Exchange%20SE%2C%20Atlanta%2C%20GA%2030339%2C%20USA!5e0!3m2!1sen!2snp!4v1599886552365!5m2!1sen!2snp"
                        width="600"
                        height="450"
                        frameborder="0"
                        style="border: 0"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"
                    ></iframe>
                </div>
                <div class="location">
                    <h1>1755 The Exchange Se # 139 Atlanta, GA 30339</h1>
                </div>
                <div class="text-center">
                    <a href="" class="custom-btn">Direction</a>
                </div>
            </div>
        </section>

       